@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: #0099FF;
}

main {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

